.main-view h1 {
    margin: 32px;
    padding: 32px;
    width: 100%;
    text-align:center;
}

.message-list {
    overflow-y: scroll;
    width: 100%;
}

.message-list p {
    width: 100%;
}

.mystyle {
    font-family: fantasy;
    font-style:  italic;
    font-size:   25px;
    font-weight: bolder;
    line-height: 30px;
}